@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.transition-slide-in {
  animation: slide-in 0.3s forwards;
}

.transition-slide-out {
  animation: slide-out 0.3s forwards;
}
